Source: gmaths
Priority: extra
Maintainer: dc <dc@localhost>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: libgmaths-ocaml
Section: libs
Architecture: any
Provides: ${ocaml:Provides}
Depends: ${ocaml:Depends}
Tag: devel::lang:ocaml, devel::library, implemented-in::ocaml, role::shared-lib
Description: A library for basic 3D maths computation for OCaml, runtime libraries
 This library provides basic vector, matrix and quaternion operations.
 This package contains the runtime libraries.

Package: libgmaths-ocaml-dev
Section: libdevel
Architecture: all
Provides: ${ocaml:Provides}
Depends: ${ocaml:Depends}
#Depends: libgmaths-ocaml
Tag: devel::lang:ocaml, devel::library, implemented-in::ocaml, role::devel-lib
Description: A library for basic 3D maths computation for OCaml, development files
 This library provides basic vector, matrix and quaternion operations.
 This package contains the development files.
